form {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin: 20px auto;
}

label {
    margin-bottom: 7px;
}

input {
    margin-bottom: 10px;
}

.NewBoxForm-submitButton {
    width: 100px;
    height: 50px;
    border-radius: 3px;
    background-color: lightgreen;
    margin: auto
}